.tabPadding {
  padding-top: 20px;
}
.chartPadding {
  padding-top: 20px;
}
.navcontainer {
  width: 100% !important;
  font-style: 'Arial' !important;
}
.navoption {
  width: 30%;
  font-size: 25px;
}
a {
  color: #4b0082;
}

a .selected {
  color: #9c7db6;
}
